body{
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}
.head{
    text-align: center;
    color: mediumturquoise;
}

.calculator {
    padding: 4px;
    margin: 4px;
    background-color: #3e6390;
    width: 100%;
    height: auto;

}
  
.form-control {
    border: 0px solid transparent;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
}
  
input[type="text"]:disabled {
    background-color: white;
    text-align: right;
    padding: 8px;
}
  
.design {
    text-align: center;
    border-radius: 8px;
    width: 100%;
    height: auto;
    color: white;
    padding: 4px;
    margin: 4px;
    background-color: #2a2e4b;
}